*{margin:0; padding:0;}
.hot-topic{
  background-image: url(https://loremflickr.com/320/240/dog);
  font-family:san-serif;
  font-size:16px;
  color:#FFF;
  display:block;
  text-decoration:none;
  text-transform: uppercase;
  margin-bottom: 10px;
 
}
.overlay{
   padding : 40px 30px;

  background: linear-gradient(90deg, rgba(218,67,237,0.7990546560421043) 0%, rgba(235,220,238,0) 100%);
}